.scrollbar {
  position: relative;

  float: right;

  width: 15px;
  width: 3px;

  background: #000;
}

.track {
}

.thumb {
  position: absolute;
  top: 0;
  left: -2px;

  overflow: hidden;

  width: 5px;
  height: 20px;

  cursor: pointer;

  border: 1px solid #000;
  background: #fff;
}

.thumb .end {
}

.disable {
  display: none;
}

.noSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -o-user-select: none;
  -khtml-user-select: none;
}
