@import '../mixins/userSelect';

@city-background-color: #424242;
@city-icon-size: 90px;
@city-square-size: 6px;

.city {
  position: absolute;
  top: 0;
  left: 0;

  display: table;
  overflow: hidden;

  width: 100%;
  height: 100%;
  
  background-color: @city-background-color;

  .user-select(none);
}

// content
.city__content {
  position: relative;
  z-index: 2;

  display: table-cell;

  width: 100%;

  text-align: center;
  vertical-align: middle;
}

.ie .city__content {
  display: inline-block; // IE6-IE7 fix
}

// background
.city__background__container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.city__background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-position: center center;

  .background-size(cover);
  will-change: transform;
}

.is-mobile .city__background {
  .transform(scale(1));
}

// sections
.city__content__section {
}

.city__content__section--button:extend(.city__content__section) {
  position: absolute;

  width: 100%;
}

// title
.city__title:extend(.inline-block) {
  position: relative;

  text-align: center;
}

// text
.city__name {
  position: relative;
  top: -90px;

  margin: 0;
  margin-right: -20px; // letter spacing fix
  padding: 40px 0 0 0;

  opacity: 0;
}

.mobile .city__name {
  top: 0;

  opacity: 1;
}

.city__country {
  position: relative;
  top: 50px;

  margin: 0;
  margin-top: 20px;
  margin-left: 20px; // leter spacing fix

  opacity: 0;
}

.mobile .city__country {
  top: 0;

  opacity: 1;
}

// icon
.city__icon {
  position: absolute;
  top: -150px;
  left: 50%;

  width: @city-icon-size;
  height: @city-icon-size;
  margin-left: -45px;

  opacity: 0;
}

.mobile .city__icon {
  top: -@city-icon-size;

  opacity: 1;
}

// squares
.city__square {
  position: absolute;

  width: @city-square-size;
  height: @city-square-size;

  opacity: 0;
  background-color: #fff;
}

.city__square--topLeft:extend(.city__square) {
  top: 50%;
  left: 50%;
}

.city__square--topRight:extend(.city__square) {
  top: 50%;
  right: 50%;
}

.city__square--bottomLeft:extend(.city__square) {
  right: 50%;
  bottom: 50%;
}

.city__square--bottomRight:extend(.city__square) {
  right: 50%;
  bottom: 50%;
}

.city__square--topLeft,
.city__square--topRight {
  margin-top: -(@city-square-size / 2);
}

.city__square--bottomLeft,
.city__square--bottomRight {
  margin-bottom: -(@city-square-size / 2);
}

.mobile .city__square--topRight {
  top: 0;
  right: 0;
}

.mobile .city__square--bottomLeft {
  bottom: 0;
  left: 0;
}

.mobile .city__square--topRight {
  top: 0;
  right: 0;
}

.mobile .city__square--topLeft {
  top: 0;
  left: 0;
}

// responsive
@media @phone {
  .city__name {
    margin-right: -10px; // letter spacing fix
  }

  .city__country {
    margin-left: 10px; // letter spacing fix
  }

  .city__local {
    display: none;
  }
}
