.cover {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 150px;
  margin: 10px 0;

  opacity: 0;
  background-color: #424242;
}

.cover:first-child {
  margin-top: 0;
}

.cover:last-child {
  margin-bottom: 0;
}

// link
.cover__link {
  position: absolute;
  z-index: 3;

  display: block;

  width: 100%;
  height: 100%;

  text-align: center;
  text-decoration: none;
}

// text
.cover__title {
  line-height: 1;

  position: relative;

  text-align: center;
}

.cover__name {
  position: relative;
  top: -30px;

  margin: 0;
  margin-top: 30px;
  margin-right: -20px; // letter spacing fix

  opacity: 0;
}

.cover__country {
  position: relative;
  top: 30px;

  margin: 0;
  margin-top: 20px;
  margin-left: 20px; // leter spacing fix

  opacity: 0;
}

// overlay
.cover__overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: #0a0a0a;
}

// background
.cover__background {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-position: center center;
}
