.local {
  overflow: hidden;
  opacity: 0;
}

// video
.local__video {
  position: relative;
  opacity: 0;
}

// .local__video .vjs-poster {
//   display: none;
// }

.local__marker {
  position: absolute;
  z-index: 2;
}

.local__marker__icon {
  width: 30px;
  height: 48px;
  position: relative;
  left: 50%;
  margin-left: -(30px / 2);
  margin-top: 10px;
}

.local__marker__link {
  font-family: 'Orator Std', 'sans-serif';
  font-size: 18px;

  display: block;

  padding: 15px 15px 8px 15px;

  text-decoration: none;

  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  cursor: pointer;
}

.local__marker__link:hover {
  background-color: #fff;
  color: #0a0a0a;
}

// content
.local__content {
  max-width: 1080px;
  margin: 0 auto;
  text-align: center;
}

// blocks
.local__block {
  padding: 0 50px;
  margin: 50px 0;
  .clear;
}

// images
.local__image {
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// columns
.local__column--half {
  width: 50%;
}

.local__column--left {
  float: left;
}

.local__column--right {
  float: right;
}

.local__column--mask {
  overflow: hidden;
  .inline-block;
}

// columns content
.local__column--left .local__column__content {
  margin: 20px 25px 20px 0;
}

.local__column--right .local__column__content {
  margin: 20px 0 20px 25px;
}

// next
.local__next {
  display: block;
  height: 150px;
  .background-size(cover);
}

@media @phone {
  .local__block {
    margin: 30px 0;
  }

  .local__column--left .local__column__content {
    margin: 0px 15px 0px 0;
  }

  .local__column--right .local__column__content {
    margin: 0px 0 0px 15px;
  }
}
