.locals {
  position: absolute;
  z-index: 3;

  width: 100%;
  height: 100%;
}

.locals__wrapper {
  position: relative;

  width: 100%;
  height: 100%;
}

.locals__dummy {
  padding-top: 100%;
}

.locals__container {
  font: 0/0 a;

  position: absolute;
  top: 100px;
  right: 100px;
  bottom: 100px;
  left: 100px;

  text-align: center;
}

.locals__centerer {
  display: inline-block;

  height: 100%;

  vertical-align: middle;
}

.locals__content {
  position: relative;

  display: inline-block;

  width: 800px;
  max-width: 100%;
  height: 600px;
  max-height: 100%;

  vertical-align: middle;

  .perspective(500);
}

.locals__content__container {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;

  overflow-y: scroll;
}

// icon
.locals__icon {
  width: 50px;
  height: 50px;

  background-color: #fff;
}

.locals__icon--close {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
}

// bar
.locals__bar {
  position: absolute;

  background-color: #fff;
}

.locals__bar--top,
.locals__bar--bottom {
  width: 100%;
  height: 10px;
}

.locals__bar--left,
.locals__bar--right {
  width: 10px;
  height: 100%;
}

.locals__bar--top {
  top: 0;
  left: 0;
}

.locals__bar--bottom {
  right: 0;
  bottom: 0;
}

.locals__bar--left {
  top: 0;
  left: 0;
}

.locals__bar--right {
  bottom: 0;
  right: 0;
}

@media @phone {
  .locals {
    z-index: 4 !important;
  }
  
  .locals__container {
    top: 40px;
    right: 40px;
    bottom: 40px;
    left: 40px;
  }

  .locals__content {
    background-color: #fff;
  }

  .locals__content__container {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
  }
}
