.local {
  overflow: hidden;

  opacity: 0;
}

// video
.local__video {
  position: relative;
  margin-bottom: 80px;
  z-index: 3;
}

.local__video__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.local__video--bonus {
  max-width: 1080px;
  margin: 128px auto 50px auto;
  padding: 0 50px;
}

.local__video__text {
  max-width: 410px;
  margin-bottom: 40px;
}

// markers
.local__marker {
  position: absolute;
  z-index: 2;
}

.local__marker__icon {
  position: relative;
  left: 50%;

  width: 30px;
  height: 48px;
  margin-top: 10px;
  margin-left: -(30px / 2);
}

.local__marker__link {
  padding: 15px 15px 8px 15px;
  text-align: center;

  color: #fff;
  border: 1px solid #fff;
}

.local__marker__link:hover {
  color: #0a0a0a;
  background-color: #fff;
}

// content
.local__content {
  max-width: 1080px;
  margin: 0 auto;

  text-align: center;

  padding-top: 1px;
}

// blocks
.local__block {
  .clear;
  margin: 50px 0;
  padding: 0 50px;
}

// images
.local__image {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  max-width: 100%;
  max-height: 1080px;
}

// columns
.local__column--half {
  width: 50%;
}

.local__column--left {
  float: left;
}

.local__column--right {
  float: right;
}

.local__column--mask:extend(.inline-block) {
  overflow: hidden;

  max-width: 100%;
  max-height: 100%;
}

// columns content
.local__column--left .local__column__content {
  margin: 20px 25px 20px 0;
}

.local__column--right .local__column__content {
  margin: 20px 0 20px 25px;
}

// next
.local__next {
  display: block;

  text-align: center;

  color: #0a0a0a;
  padding: 50px;
}

@media @tablet {
  .local__marker {
    display: none;
  }

  .local__video--bonus {
    max-width: 1080px;
    margin: 50px auto 50px auto;
    padding: 0 50px;
  }
}

@media @phone {
  .local__block {
    margin: 30px 0;
  }

  .local__column--left .local__column__content {
    margin: 0 15px 0 0;
  }

  .local__column--right .local__column__content {
    margin: 0 0 0 15px;
  }
}

// arrow
@keyframes blink {  
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}

@-moz-keyframes blink {  
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}

@-webkit-keyframes blink {  
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}

@-ms-keyframes blink {  
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}

@-o-keyframes blink {  
  0% { opacity: 0.2 }
  50% { opacity: 1 }
  100% { opacity: 0.2 }
}

.local__arrow {
  position: absolute;
  z-index: 2;
  width: 120px;
  text-align: center;
  cursor: pointer;
  
  p {
    color: #fff;
    margin: 0;
  }

  .icon {
    width: 45px;
    height: 53px;
    margin: 0 auto;
    background-image: url('../../public/images/arrow.png');
    -webkit-animation: 1s blink infinite;
    -moz-animation: 1s blink infinite;
    -ms-animation: 1s blink infinite;
    -o-animation: 1s blink infinite;
    animation: 1s blink infinite;
  }
}

.local__arrow--down {
  bottom: 5%;
  right: 5%;
}

.local__arrow--up {
  position: fixed;
  height: 50px;
  width: 50px;
  background-image: url('../../public/images/arrowup.png');
  right: 5%;
  bottom: 5%;
  opacity: 0;
}