.menu {
  position: fixed;
  z-index: 2;
  right: 60px;
  bottom: 60px;
  left: 60px;

  padding: 0;
}

.menu__icon {
  position: relative;

  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.menu__icon--left {
  float: left;
}

.menu__icon--right {
  float: right;
}
